/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2016, 12:50:59 AM
    Author     : Janakshi
*/

.button{
        width:370px;
        position:absolute;
        align-self: center;
}
#formMat{
    width: 400px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
    border:black;
}

